<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CLIENT_ID</key>
<string>819237445428-9aj7r3rldjbnuf8lc73h9cimmsm4p79q.apps.googleusercontent.com</string>
<key>REVERSED_CLIENT_ID</key>
<string>com.googleusercontent.apps.819237445428-9aj7r3rldjbnuf8lc73h9cimmsm4p79q</string>
<key>API_KEY</key>
<string>AIzaSyCD9uFkOKaav-Gf158DdN4XVgp60ATBTFY</string>
<key>GCM_SENDER_ID</key>
<string>819237445428</string>
<key>PLIST_VERSION</key>
<string>1</string>
<key>BUNDLE_ID</key>
<string>io.getready.rgntest</string>
<key>PROJECT_ID</key>
<string>martin-sdk-app</string>
<key>STORAGE_BUCKET</key>
<string>martin-sdk-app.appspot.com</string>
<key>IS_ADS_ENABLED</key>
<false></false>
<key>IS_ANALYTICS_ENABLED</key>
<false></false>
<key>IS_APPINVITE_ENABLED</key>
<true></true>
<key>IS_GCM_ENABLED</key>
<true></true>
<key>IS_SIGNIN_ENABLED</key>
<true></true>
<key>GOOGLE_APP_ID</key>
<string>1:819237445428:ios:c1849cbedb979229114f61</string>
<key>DATABASE_URL</key>
<string>https://martin-sdk-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>